# Application
APP_ENV=development

# PostgreSQL
POSTGRES_DB=audioguia
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Database
DATABASE_URL=
TEST_DATABASE_URL=
# Security
SECRET_KEY=

#URLS
PUBLIC_FRONTEND_URL=http://localhost:3000