# Application
APP_ENV=development

# PostgreSQL
POSTGRES_DB=audioguia
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Database
DATABASE_URL=
TEST_DATABASE_URL=
# Security
SECRET_KEY=
ALGORITHM = 
ACCESS_TOKEN_EXPIRE_MINUTES=
#URLS
PUBLIC_FRONTEND_URL=http://localhost:3000

#storage
STORAGE_ENDPOINT_URL=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_BUCKET_NAME=